*{
    margin:0px;
}



body{
    background-color: rgb(252, 241, 243);
}

.boxalpha{
    display:inline-block;
}

.first{
    font-size: 40px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:absolute;
    left:220px;
}

.old, .soap{
    padding:10px;
    color:grey;
    border-radius: 5px;
    border:solid white 2.5px;
}

.hero{
    width:90%;
    margin-left:50px;
    position:relative;
}

.second{
    position:absolute;
    left:380px;
    top:10px;
    cursor: pointer;
}

.third{
    position:absolute;
    left:545px;
    top:10px;
    border-color: white;
    cursor: pointer;
}

.fourth{
    position:absolute;
    left:885px;
    top:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(111, 108, 108);
    font-weight: bolder;
    cursor: pointer;
}

.fifth{
    position:absolute;
    left:950px;
    top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(121, 119, 119);
    font-weight: bolder;
    cursor: pointer;
}

.soap{
    width:250px;
    /* border-left-color: black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; */
}

.old:hover{
    border-color: rgb(250, 213, 213);
    background-color: white;
}
.soap:hover{
    border-color: rgb(250, 213, 213);
    background-color: white;
}

.newmain{
    display:block;
    position:relative;
    margin-top:9px;
    margin-left: 290px;
    cursor: pointer;
}

.hx{
    display:inline-block;
    margin-top: 80px;
    margin-left: 310px;
    font-size: x-small;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}

.hello{
    display:inline-block;
}

.city{
    color:grey;
}

.love{
    display:inline-block;
    margin:20px;
    position: relative;
    width:170px;
}

.hot{
    display:inline-block;
}

.sixth{
    position:absolute;
    left:50px;
    top:12px;
    font-size:x-large;
}

.seventh{
    position:absolute;
    left:55px;
    top:12px;
    font-size: x-large;
}

.eight{
    position:absolute;
    left:50px;
    top:12px;
    font-size:x-large;
}

.img5{
    width: 40px;
    height: 40px;
}

.hii{
    position:absolute;
    left:410px;
}

.head{
    background-color: rgb(247, 233, 233);
    width:100%;
}

.hot:hover{
    color: rgb(228, 52, 52);
}




/*  */


/* body{
    background-color: rgb(242, 231, 233);
    margin-left: 150px;
    margin-top: 50px; 
}*/

.box{
    display:inline-block;
}

.new{
    border-radius:20px;
    width:300px;
    height:200px;
    border: 0px;
}

 .name{
        font-weight:bold;
        font-size: 17px;
}

.rating{
        background-color: green;
        height:18px;
        width:36px;
        border-radius: 5px;
        padding-bottom:3px;
        padding-left:3px;
        color:white;
        position:absolute;
        right:0px;
}

.main{
        display:inline-block;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        border:solid rgb(253, 249, 250);
        margin-right: 50px;
        margin-bottom: 30px;
        margin-top:25px;
        position:relative;
}

.main:hover{
    background-color: white;
     border-color: rgb(255, 255, 255);
}

.Restaurant{
    position:relative;
    margin-top: 10px;
    margin-bottom: 10px;;
}

.foodname{
    position:relative;
}

.money{
    position:absolute;
    right:0px;
    font-size: 15px;
}

.distance{
    position: relative;
}

.dist{
    position:absolute;
    right:0px;
    font-size: 15px;
}

.food{
    font-size: 15px;
    color: rgb(77, 96, 96);
}

.place{
    font-size:15px;
    color: rgb(77, 96, 96);
}

.discount{
    position:absolute;
    bottom:115px;
    font-size: 20px;
    background-color: rgba(12, 85, 158, 0.6);
    color:white;
    width:120px;
    padding-left:10px;
}

.happy{
    background-color: rgb(255, 244, 244);
    margin-left: 155px;
}

.nagpur{
    font-size: 25px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:relative;
    margin-top: 20px;
}
